<h1>Employee Feedback form</h1>
<div class="container-fluid">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Employee Name: </th>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">Job Title:</th>
                <td>Jacob</td>

            </tr>
            <tr>
                <th scope="row">Department</th>
                <td colspan="2">Larry the Bird</td>
            </tr>
            <tr>
                <th scope="row">Employee ID</th>
                <td colspan="2">Larry the Bird</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- employee rating form -->
<div class="container-fluid">
    <!-- to be added -->
</div>