<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="addEmp-tab" data-bs-toggle="tab" data-bs-target="#addEmp" type="button"
            role="tab" aria-controls="addEmp" aria-selected="false">Add New Employee</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="viewEmp-tab" data-bs-toggle="tab" data-bs-target="#viewEmp" type="button"
            role="tab" aria-controls="viewEmp" aria-selected="true">View Employees</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="addEmp" role="tabpanel" aria-labelledby="addEmp-tab">
        <%- include('addEmp') %>
    </div>
    <div class="tab-pane fade " id="viewEmp" role="tabpanel" aria-labelledby="viewEmp-tab"> 
        <%- include('viewEmp') %>
    </div>
</div>
</ul>